<#@ template language="C#" inherits="AbstractSingleTemplate" #>
<#@ import namespace="Generator.Core" #>
This is a simple helper file. There is only one of these.
<#+
	public override string OutputPath => "Helpers.cs";
#>